@media(max-width: 650px){
  body{
      width: 40%;
      font-size: 5px;

  }
}

@media(max-width: 450px){
  body{
      width: 90%;
      font-size: 5px;
  }
}
@media (max-width: 768px) {
  header {
    display: none;
  }
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;   
 
  }
body {
    font-size:16px;
    padding: 10px;
    margin: 0;
 }
 #body{
  background-color: rgb(244, 242, 242);
 }
header{
margin-left: 60px;
margin-right: 60px;

}
  
    #title{
      font-size: 50px;
    }
 /* vedo */
 #background-video {
    width: 100%;
    height: 85vh;
    object-fit: cover;
  
    ;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0;
    top: 0; */
    /* bottom: 0; */
    z-index:0;
    margin: 0px;
    padding: 0px;

  }
  .background-video{
    background-color: #25282e;
  }
  .background-video button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #overlaybut{
    margin: 10px;
    font-size: 15px;
    height: 50px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: white;
    color: burlywood;
    width: 150px;
    border: none;
    color: black;
  }
  .overlay{
    position:absolute;
    z-index:1;
    padding: 600px;
    padding-left:600px;

  }
  .overlay h2{
    color: black;

}
 /* end */

  /* Top header */
#container {
      /* text-align: center; */
      height: 20px;
      display: flex;
      list-style-type: none;
      display:inline;
     
      
    }
#navbar1{
     overflow: hidden;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
 
  }
  #left{
    float: left;
    font-size: 25px;
  }
  .b0ttn{
    float:right;
    padding-right: 10px;
    margin: 10px;
        font-size: 15px;
        height: 35px;
        border-radius: 1px;
        background-color: #25282e;
        width: 100px;
        border: none;
        color: white;

  }


  .navbar2 button:hover{
    color: burlywood;

}
  #siteName{
    padding-left: 10px;
  }

    /* End top header */
  
    /* Nav Bar */
  
    .navbar1 {
      overflow: hidden;
      font-size: 20px;
      padding-top: 20px;

    }
    #hours{
        float:right;
        padding-right: 2px;
        margin-top: 15px;
        font-size: 12px;
        
    }
    .navbar2 {
        overflow: hidden;
        font-size: 15px;
        padding-top: 10px;
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-color: #dfdfdf;
      }
   
    /* Style the links inside the navigation bar */
    .navbar1 a {
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      color: #21232a;

    }
    /* Change the color of links on hover */
    .navbar1 a:hover {
      color: black;
    }
  /* End Nav */
  
  /* Imge */
  
  ul li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display:inline; 
  
    }

    /* header imge */
    .nex-video{
        font-size: 15px;
        background-color: #25282e;
        color: #dfdfdf;
        width: 100%;
        height: 200px;
        text-align: center; 
        padding: 30px;

    }
    /* .content{ */
        /* display: flex;
        flex-wrap: wrap;
       align-items:center;
       justify-content:space-between;
       text-align: center; */
    /* } */


    /* Content View */

    .our-content{
        padding: 30px;
        margin: 30px;
        
    }
    .our-content #title{
        padding-left: 30px;
    }
    #Current-View{
        padding: 30px;
         display: flex; 
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        margin-bottom: 50px;
       
    }
    #col-sm{
      border-right-style: solid;
      border-bottom-width: thin;
      border-width: 1px;
      border-color: #dfdfdf;
    }
    .col-sm h4{
      padding-top: 10px;
      font-size: 20px;
    }
    /* Form  */
    .join-our{
      padding-bottom: 100px;
      height: 500px;
      text-align: center;
      display: flex;
      align-items:center;
      justify-content:center;
   
      
    }

      #form-title , #form-title1 {
        text-align: center;  
       
    
      }
      #form-title{
      font-size: 30px;
      }

      .email , .name {
        width:400px;
        height: 60px;
        padding: 0px 12px;
        border-radius: 5px;
        vertical-align: baseline;
        font-size: 15px;
        border-radius: 2px;
        border: none;
        outline: none;
        border: 1px solid lightgray;
    
      }
      .form{
        padding: 10px;
      }

      .button{
        margin: 10px;
        font-size: 15px;
        height: 60px;
        border-radius: 2px;
        background-color: #25282e;
        width: 150px;
        border: none;
        color: white;
       
      }
      .button , .email :focus {
        border: none;
        outline: none;
      }

    /* End form */

    /* Details */

    .row-Details{  
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        /* border-top: 2px solid rgb(116, 116, 116);    
        border-bottom: 2px solid rgb(116, 116, 116);    */
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-top-style: solid;
        border-top-width: thin;
        border-color: #dfdfdf;
        height: 500px;
        align-items: center;
        background-color: #f1f1f1;

      }

      
      /* Sidebar/left column */
      .side {
        -ms-flex: 30%; /* IE10 */
        flex: 30%;
        /* padding: 20px; */
        text-align: left;       

      }
      #side-titel{
        padding-left: 150px;

      }
      /* Main column */
      .main {   
        -ms-flex: 70%; /* IE10 */
        flex: 70%;
        padding: 20px ;
        padding-left: 20px;
        /* padding-right: 100px; */


      }
      #main-title{
        font-size: 20px;
        border-bottom-style:  solid;
        border-bottom-width: thin;
        border-color: #dfdfdf;
        padding: 20px;

      }
      

      /* Footer1 */

      .first-footer{
          background-color: #25282e;
          color: white;
          font-size: 15px;
          text-align: center;
         padding: 30px;   
         height: 200px;
        
        
  
         }
      /* End */
#footer-title{
    padding-top: 40px;
}

      .second-footer {
          background-color: #21232a;
          color: #dfdfdf;
          font-size: 15px;
          text-align: center;
         height: 150px;   
         padding-top: 50px; 
       
      }

      .second-footer a {
        text-decoration: none;
        color: white;
      }
      .second-footer a:hover {

        color: burlywood;
      }
      .col a{
        text-decoration: none;
        color: burlywood;
      }
      .col a:hover {
        color: white;
      }
      .second-footer a:visited {
        color: lightgray;
      }
      .second-footer .second-footer-icon a {
          color: white;
      }

